{{ define "title" }}FAQ{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>
</div>

<div class="container page-content faq">
  <div class="row">
    <div class="col m-4">
      <h2>How should I prepare for the competition?</h2>
      <p>
        The best way to practice is by solving other challenges from various online CTF websites. Another great resource is the <a href="https://oresec.github.io/">Oresec Wiki</a>. The wiki provides many tutorials on various tools as well as writeups to follow along.
      </p>
      <h2>How many people can be on my team?</h2>
      <p>
        Teams must have a minimum of two students and a maximum of four students.
      </p>
      <h2>How many teams can we have?</h2>
      <p>
        We allow for three teams per school to attend (we may allow more based on registration time and available space).
      <p>
        If you require more teams please email <a href="mailto:support@HSOreCTF.tech">support@hsorectf.tech</a>
      </p>
      </p>
      <h2>What tools are available?</h2>
      <p>
      The competition computers run on <a href="https://www.kali.org/">Kali Linux</a> and has a variety of tools installed, including:
      </p>
      <p>
          <a href="https://sourceware.org/gdb/">GDB</a>, <a href="https://nmap.org/">Nmap</a>, <a href="https://www.wireshark.org/">Wireshark</a>, <a href="https://portswigger.net/">Burp Suite</a>, <a href="http://www.stearns.org/nc/">Netcat</a>, <a href="https://github.com/openwall/john">John the Ripper</a>, <a href="https://github.com/NationalSecurityAgency/ghidra">Ghidra</a> and many more.
      </p>
      <h2 id="division">What difficulty of problems are there?</h2>
      <p>
        There will only be one division for everyone. There will be about 60-70 problems,
        and the questions will range from "beginner", "novice", "advanced" difficulty.
      </p>
      <p>
        "Beginner" problem concepts include: How to use a terminal/cli, crypto basics, beginner programming challenges, general trivia questions.
      </p>
      <p>
        "Novice" problems concepts include: Specific challenges to categories and more difficult programming.
      </p>
      <p>
        "Advanced" problems concepts include: Multi step problems with specific tools and strategies being needed.
      </p>
      <h2>How long is the competition?</h2>
      <p>
        The actual competition will be open for 8 hours, from <b>9:00 AM until 5:00 PM Mountain Time</b>.
        There is a ceremonies lasting about an hour at the end of the competition.
      </p>
      <h2>Can I bring my own device?</h2>
      <p>
        Yes. However, you will not be able to access the competition site with it.

        See the <a href="/rules#bringing-own-tech">rules</a> for details.
      </p>
    </div>
  </div>
</div>
{{ end }}
