{{ define "title" }}Home{{ end }}

{{ define "content" }}

<div class="hero text-center bg-white mb-4 py-4 shadow">
  <div class="mt-4 pt-4">
    <a href="https://oresec.mines.edu/" target="_blank">
      <img class="csam-logo mt-2" src="/static/oresec-big.png" alt="Oresec">
    </a>
  </div>

  <h1 class="display-5">High School Capture The Flag Competition</h1>
  <h2 class="mb-2">The 2025 competition will be held April 5th, 2025.</h2>
  <p id="registration-info" class="mb-4">
    Engage in exciting CTF Challenges at the Oresec HSOreCTF!
    {{ if .RegistrationEnabled }}
      Registration is now open for the Spring 2025 competition.
    {{ end }}
  </p>
  {{ if .RegistrationEnabled }}
    <!-- <p id="registration-info" class="mb-4"> -->
    <!--   <span class="badge text-bg-danger py-2 px-4 me-4 fs-5"><b>Registration Extended</b></span> -->
    <!--   The new registration deadline is <b>April 14th</b> -->
    <!-- </p> -->
    <a href="/register" class="btn btn-success btn-lg px-6 fs-3"><b>Register Now</b></a>
  {{ else }}
    <small class="text-secondary">
      Registration for this year's competition has closed.
    </small>
  {{ end }}
</div>

<div class="container page-content home">
  <div class="row mb-4">
    <div class="col">
      <div class="info-box shadow">
        <h1>Engage in Exciting Problems</h1>
        <div class="content-text">
          <p>
            The Oresec High School CTF Competition is a a competition for high school students to solve cybersecurity problems that they can then apply to secondary education or the work force!
          </p>
          <p>
            Challenges are designed to be accessible to students with a wide range of experience, from beginners to experienced competitors. We encourage students to work in teams of up to 4, and we provide a supportive environment for students to learn and grow.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/comp2024.jpg" alt="HSOreCTF participants at the 2024 competition">
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-5">
      <img class="image-fluid shadow w-100" src="/static/winner2024.jpg" alt="HSOreCTF 2024 Winners">
    </div>
    <div class="col">
      <div class="info-box shadow">
        <h1>Schedule</h1>
        <div class="content-text">
          <p id="schedule-header">Saturday, April 5th, 2025</p>
          <div class="row mb-1">
            <div class="col-5" aria-label="Time">8:30 AM to 8:50 AM</div>
            <div class="col" aria-label="Event">Registration & Check-In</div>
            <div class="w-100"><hr></div>
            <div class="col-5">9:00 AM to 9:05 AM</div>
            <div class="col">Drop Flag</div>
            <div class="w-100"><hr></div>
            <div class="col-5">9:00 AM to 5:00 PM</div>
            <div class="col">Competition</div>
            <div class="w-100"><hr></div>
            <div class="col-5">12:30 AM to 1:30 PM</div>
            <div class="col">Lunch available (at Mines)</div>
            <div class="w-100"><hr></div>
            <div class="col-5">5:00 PM to 5:30 PM</div>
            <div class="col">Closing Ceremony & Awards</div>
            <div class="w-100"><hr></div>
            <!-- <div class="col-5">3:00 PM to 4:00 PM</div>
            <div class="col">Optional Campus Tour</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="info-box shadow">
        <h1>About Us</h1>
        <div class="content-text">
          <p>
            <a href="https://www.mines.edu/">Mines</a> is a public research university focused on science and engineering, located in Golden, Colorado.
            HSOreCTF is organized and ran by Mines Oresec volunteers with funding from Sail.
            <br><br>
            This is the first time we are hosting a high school CTF competition, and we are excited to welcome all.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="image-fluid shadow w-100" src="/static/csm.jpg" alt="A picture of the Mines campus.">
    </div>
  </div>
</div>

{{ end }}
