{{ define "title" }}Info{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row page-header">
    <div class="col">
      <h1>Competition Information</h1>
    </div>
  </div>
</div>

<div class="container page-content faq">
  <div class="row">
    <div class="col m-4">
      <h2>Address &amp; Parking</h2>
      <p>
        The competition will be at the Marquez Hall:
        <b>1600 Arapahoe St, Golden, CO 80401</b>
      </p>
      <p>
        We recommend parking at the CTLM Parking Lot on 18th St, and will have volunteers around the building waiting. Parking is free since it is a weekend. Arriving arrive before 9:00am is a must (ideally 8:15am) so that you can check in by 8:45am. The competition ends at 5:30pm.
      </p>
      <p>
        Once at CTLM, enter to the left of the “Gordian Knot,” and we will direct you to the opening ceremony room, Marquez 022 and 026. We will have volunteers and signs in case you get lost.
      </p>
      <p>
        See the Mines campus map <a href="https://tour.mines.edu/map/">here</a>.
      </p>
      <h2>In-Person Check In</h2>
      <p>
        Students will receive a QR code in their email which will act as their ticket for the competition.
        A volunteer will scan the student's QR code to make sure all of the necessary forms have been signed.
      </p>
      <!----      <h2>Practice Competition</h2>
      <p>
        We'll send out details via email a week before the competition describing how to test in the practice competition.
      </p> -->
      <h2>Food</h2>
      <p>
        Food will be provided around 12:30am on competition day.
      </p>
      <h2>Contact Information</h2>
      <p>
        Please email <a href="mailto:support@hsorectf.com">support@hsorectf.com</a> with any questions.
      </p>
      <h2>Tips for Success</h2>
      <p>
        <b>Before the competition..</b>
      </p>
      <ul>
        <li>Get a good night's sleep.</li>
        <li>Check out our <a href="https://OreSec.github.io/">wiki</a> for beginner recourses in cybersecurity.</li>
        <li>Setup the tools that you want on the local machine.</li>
        <li>Discuss strategies with your team: who will work on what, who will do what challenges, what types of challenges your team wants to start with, etc.</li>
      </ul>
      <p>
        <b>During the competition..</b>
      </p>
      <ul>
        <li>Carefully read the challenges.</li>
        <li>We recommend that you do research on topics that may be challenging.</li>
        <li>Take a break or two to clear your mind. These problems are hard!</li>
        <li>Do not blame each other. Stay positive in your interactions.</li>
        <li>Don't stress out, and HAVE FUN!</li>
      </ul>
      <p>
        <b>After the competition..</b>
      </p>
      <ul>
        <li>Congratulate yourselves. You accomplished something great.</li>
        <li>Do not be disheartened if you did not find all the flags. Use the experience as opportunity to grow as cyber enthusiast.</li>
        <li>If you had fun, try some other challenges on different CTF platforms!</li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
