name: "Build and Deploy"

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install dependencies
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          go install honnef.co/go/tools/cmd/staticcheck@latest
          export PATH="$HOME/go/bin:$PATH"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - run: go build ./cmd/hsorectf

      - uses: actions/upload-artifact@v6
        with:
          name: hsorectf
          path: hsorectf

  deploy:
      runs-on: ubuntu-latest
      needs:
        - lint
        - build
      if: github.ref == 'refs/heads/main'
      steps:
        - name: Send Webhook Notification
          if: success()
          run: |
            curl -X POST ${{ secrets.WEBHOOK_URL }} \
              -H "Content-Type: application/json" \
              -H "X-Webhook-Token: ${{ secrets.WEBHOOK_SECRET }}" \
              -d '{"status":"success","message":"Build completed successfully. Pull the changes."}'

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs:
  #     - lint
  #     - build
  #   if: github.ref == 'refs/heads/main'
  #   steps:
  #   - name: Deploy HSOreCTF
  #     uses: appleboy/ssh-action@v1.2.2
  #     with:
  #       host: ${{ secrets.SSH_HOST }}
  #       username: ${{ secrets.SSH_USERNAME }}
  #       key: ${{ secrets.SSH_KEY }}

  #       script: |
  #         cd HSOreCTF
  #         git pull
